.login-button {
    font-size: 16px;
    border-radius: 500px;
    padding: 19px 56px 21px;
    color: #FFF;
    background-color: #1DB954;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.login-button:hover {
    background-color: #1aa34a;
}